<!doctype html>
<html>
<head>
    <title>Orders</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        button {
            padding: 5px 10px;
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Name</th>
            <th>Burger</th>
            <th>Ingredients</th>
            <th>Action</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
            <td>
                <form action="{{ url_for('delete_order', order_id=order[0]) }}" method="POST">
                    <button type="submit">Done</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>