<%- include('../partials/header.ejs') %>

<div class="welcome-container">
    <h1>Welcome to Our Burger Project</h1>
    <h2>Meet the Team:</h2>
    <ul class="team-list">
        <li>Abdallah Alhamad (<a href="https://github.com/Abdallah699">GitHub</a>)</li>
        <li>Mohammed Aljubran (<a href="https://github.com/remopp">GitHub</a>)</li>
        <li>Ahmad Darwich (<a href="https://github.com/him-alpha-ahm">GitHub</a>)</li>
        <li>Mouaz Naji (<a href="https://github.com/Mouaz7">GitHub</a>)</li>
    </ul>
</div>

<%- include('../partials/footer.ejs') %>