<footer class="footer">
    <div class="footer-container">
        <p>© 2024 Burger Project. By Abdallah Ahamad, Mohammed Aljubran, Ahmad Darwich and Mouaz Naji.</p>
    </div>
</footer>
</body>
</html>
